fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic  
email-validator
alembic
redis 
celery
passlib[bcrypt]
python-jose[cryptography]
python-multipart
bcrypt==4.0.1
Authlib==1.6.9
websockets
stripe
pydantic-settings
streamlit
boto3
joblib
mlflow==2.22.0
scikit-learn

